In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import lightgbm as lgb
import gc

In [4]:
train = pd.read_csv('../../../data/non-kaggle/Jeju-traffic/train.csv')
test = pd.read_csv('../../../data/non-kaggle/Jeju-traffic/test.csv')

In [5]:
str_col = ['day_of_week','start_turn_restricted','end_turn_restricted']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(train[i])
    train[i]=le.transform(train[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test[i]=le.transform(test[i])

In [6]:
y_train = train['target'] 

X_train = train.drop(['id','base_date', 'target','road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

test = test.drop(['id','base_date', 'road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

print(X_train.shape)
print(y_train.shape)
print(test.shape)

(4701217, 16)
(4701217,)
(291241, 16)

In [7]:
train_X, val_X, train_y, val_y = train_test_split(X_train,y_train)

In [8]:
LR = lgb.LGBMRegressor(random_state=42).fit(train_X, train_y)

In [11]:
print(mean_absolute_error(LR.predict(val_X), val_y))

4.824645443623565

In [14]:
train_X

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted
1607241,1,19,2,103,0,0,80.0,32400.0,0.0,3,33.480703,126.398577,0,33.480864,126.398882,0
3750978,0,11,1,106,0,0,60.0,43200.0,0.0,3,33.291747,126.505010,0,33.291731,126.504396,0
2805529,3,10,2,107,0,0,30.0,0.0,0.0,0,33.255581,126.511879,0,33.254531,126.511810,0
3671562,3,17,1,103,0,0,30.0,0.0,0.0,0,33.499848,126.519872,1,33.499973,126.516469,1
1942682,1,14,1,106,0,0,30.0,0.0,0.0,0,33.468664,126.678235,0,33.437249,126.677154,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296931,3,2,2,103,0,0,80.0,0.0,0.0,0,33.437744,126.425663,0,33.438795,126.427168,0
2376451,1,22,3,107,0,0,30.0,0.0,0.0,0,33.251003,126.412163,0,33.249527,126.415168,0
3064561,5,21,3,103,0,0,70.0,0.0,0.0,0,33.476308,126.483321,1,33.478959,126.482307,0
4511088,3,0,2,103,0,0,80.0,0.0,0.0,0,33.437744,126.425663,0,33.438795,126.427168,0
883292,0,13,1,106,0,0,60.0,0.0,0.0,0,33.434980,126.724939,0,33.435941,126.736249,0

In [ ]:
pred = LR.predict(test)